.dailyForm {
  opacity: 0;
  transition: all 0.5s;
  font-size: 1.5rem;
}

#svgContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#dailyCheckContainer {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
}

#dailyTask {
  font-size: 3.5rem;
  margin: 0 1rem;
}

#dailyCompletion {
  height: 1.5rem;
  width: 1.5rem;
  -webkit-appearance: none;
  position: relative;
  top: 1.4rem;
  color: black;
  border: 1px solid gray;
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}

#dailyCompletion::before {
  position: absolute;
  content: '';
  display: block;
  top: 2px;
  left: 7px;
  width: 8px;
  height: 14px;
  border-style: solid;
  border-color: white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

#dailyCompletion:checked {
  color: white;
  border-color: #2cbc3d;
  background: #2cbc3d;
  padding: 12px;
}

#dailyCompletion:checked::before {
  opacity: 1;
}