.settingsContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  margin: 0.8rem;
  transition: 0.5s;
  color: #dadada;
}

#IoMdSettings {
  transition: 0.5s;
  margin-top: 1rem;
  filter: brightness(0.5)
}

#IoMdSettings:hover {
  cursor: pointer;  
}

.openSettings {
  transform: rotate(45deg) scale(1.2);
  color: #fff;
  filter: brightness(2) !important;
}

.settingsModal {
  padding: 0;
  min-height: 0;
  width: 30rem;
  background-color:  rgba(0,0,0,0.5);;
  border-radius: 0.5rem;
  transition: all 0.4s;
}

.nav-items {
  user-select: none;
}

.nav-items:hover {
  cursor: pointer;
  color: #fff;
  filter:brightness(2);
  transform: scale(1.1);
}

.nav-items:active { 
  transform: scale(1);
}

.add-btn {
  border-radius: 3rem;
  background-color: #2cbc3d;
  color: #dadada;
  padding: 0.5rem;
  font-size: 1rem;
  width: 13rem;
  margin-bottom: 0.5rem;
  border: none;
  filter: drop-shadow(2px 4px 6px black)
}


.add-btn:hover {
  cursor: pointer;
  background-color: #27a736;
  color: #fff;}

.newQuotes {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  width: 100%;
  padding: 0.4rem;
  box-sizing: border-box;
}

.newQuotes:focus {
  outline: none;
}


.allQuotes {
  text-align: left;
  color: #dadada;
}

.recordedQuote{
  padding: 0.5rem 0 ;
  border-bottom: 1px solid rgb(255,255,255, 0.2);
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.recordedQuote:hover {
  color: #fff;
  cursor: pointer;  
}

.imagePanel {
  width: 9rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  border-radius: 0.63rem;
  opacity: 2;
}

.imagePanel:hover {
  cursor: pointer;
  transform: scale(1.2)
}

.imagePanel:active {
  transform: scale(0.8)
}

.imageGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.hideTypeFile {
  display: none;
}

.showTypeFile {
  display: inline-block;
}

.settingsNavigation {
  border-right: 1px solid rgb(255,255,255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}
