.settingsContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  margin: 0.8rem;
  transition: 0.5s;
  color: #dadada;
}

#IoMdSettings {
  transition: 0.5s;
  margin-top: 1rem;
  filter: brightness(0.5)
}

#IoMdSettings:hover {
  cursor: pointer;  
}

.openSettings {
  transform: rotate(45deg) scale(1.2);
  color: #fff;
  filter: brightness(2) !important;
}

.settingsModal {
  padding: 0;
  min-height: 0;
  width: 35rem;
  background-color:  rgba(0,0,0,0.5);;
  border-radius: 0.5rem;
  transition: all 0.4s;
}

.nav-items {
  user-select: none;
}

.nav-items:hover {
  cursor: pointer;
  color: #fff;
  filter:brightness(2);
  transform: scale(1.1);
}

.nav-items:active { 
  transform: scale(1);
}

.add-btn {
  border-radius: 3rem;
  background-color: #2cbc3d;
  color: #dadada;
  padding: 0.5rem;
  font-size: 1rem;
  width: 13rem;
  height: 2rem;
  margin-bottom: 0.5rem;
  border: none;
  filter: drop-shadow(2px 4px 6px black)
}


.add-btn:hover {
  cursor: pointer;
  background-color: #27a736;
  color: #fff;
  transform: scale(1.1);
}

.add-btn:active {
  cursor: pointer;
  background-color: #228e2e;
  color: #fff;
  transform: scale(1.0);
}


.newQuotes {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  width: 100%;
  padding: 0.4rem;
  box-sizing: border-box;
}

.newQuotes:focus {
  outline: none;
}


.allQuotes {
  text-align: left;
  color: #dadada;
}

.recordedQuote{
  padding: 0.5rem 0 ;
  border-bottom: 1px solid rgb(255,255,255, 0.2);
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.recordedQuote:hover {
  color: #fff;
  cursor: pointer;  
}

.imagePanel {
  width: 9rem;
  height: 8.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  border-radius: 0.63rem;
  opacity: 2;
}

.imagePanel:hover {
  cursor: pointer;
  transform: scale(1.2)
}

.imagePanel:active {
  transform: scale(0.8)
}

.imageGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;  
}

.removableContent {
  max-height: 30rem;
  overflow: auto;
}

.removableContent::-webkit-scrollbar {
  width: 1rem;
  margin: 0;
  padding: 0; 
}
 
.removableContent::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 0;
}
 
.removableContent::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.5);
  outline: 1px solid rgba(0,0,0,0.5);
  border-radius: 0.5rem;
  margin: 0;
  padding: 0;
}

.hideTypeFile {
  display: none;
}

.showTypeFile {
  display: inline-block;
}

.settingsNavigation {
  border-right: 1px solid rgb(255,255,255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

#getColor {  
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: transparent;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

#getColor::-webkit-color-swatch {
  border-radius: 0.63rem;
  border: none;
}

#getColor::-moz-color-swatch {
  border-radius: 0.63rem;
  border: none;
}

#getColor:hover {
  cursor: pointer;
}
