.userInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 2rem;
}

.userInput:focus {
  outline: none;
  padding: 0.5rem;
}

.userAcct {
  font-size: 2rem;
}

.focusLabel {
  font-size: 2rem;
  transition: all 0.5s;
}

.focusInput {
  transition: all 0.5s;
}

.formDailyFocus{
  align-items: center;
  justify-content: center;
}


#AiTwotoneDelete:hover {
  cursor: pointer;
}

.introForm {
  transition: all 0.5s;
}

.locationForm {  
  opacity: 0;
  transition: all 0.5s;
  font-size: 1.5rem;
}
