@import "./css/slider.css";
@import "./css/weather.css";
@import "./css/time.css";
@import "./css/userinput.css";
@import "./css/settings.css";
@import "./css/quotes.css";
@import "./css/daily.css";
@import "./css/toDo.css";

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-image: url("./Images/background3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
}

 div form img{
  margin: 0;
  padding: 0;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}





