@import "./css/slider.css";
@import "./css/weather.css";
@import "./css/time.css";
@import "./css/userinput.css";
@import "./css/settings.css";
@import "./css/quotes.css";
@import "./css/daily.css";
@import "./css/todo.css";

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #646161;
  /* background-image: url("./Images/background3.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  transition: all 0.4s ;
  user-select: none;
}

h1 {
  margin: 0;
  padding: 0;
}

 div form img{
  margin: 0;
  padding: 0;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}





